<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our Blogs!</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example2" class="form-control" />
                <label class="form-label" for="form5Example2">Email address</label>
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-4">
        <h4>
          Decorating Brands for Bright Future.
        </h4>
        <p style="font-size: 16px;">
          Name, founded in Dec 2021, has thousands of Stock images and other graphic resources for everyone to download. Our aim is to build a largest free Stock images & graphics platform in the world, serve for all the professional designer and people who have design skills. Helping users save time.
        </p>
      </section>
      <br>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="text-align: left;">
            <h5 class="text-uppercase">Content</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Popular</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Recent</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Blog</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">About Us</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="text-align: left;">
            <h5 class="text-uppercase">Legal</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Terms & Conditions</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Privacy Policy</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Copyright Information</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="text-align: left;">
            <h5 class="text-uppercase">Help</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Support</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Help</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="text-align: left;">
            <h5 class="text-uppercase">Site</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Images</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Videos</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Vectors</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">PSDs</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <a class="text-white" href="#" style="text-decoration: none;">Copyright ©  2021 CompanyName: All rights reserved.</a>
    </div>
    <!-- Copyright -->
  </footer>